#submitButton{

}

table, th, td {
    border:1px solid black;
    empty-cells: show;
    background-color: ;
  }
#goRed {
    text-align: right;
}
#subButton{
    display: flex;
    justify-content: flex-end;
}
